section.todos_productos {
    width: 80%;
    margin: 2rem auto;

    section.head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        h1.title {
            font-size: 1.5em;
            font-weight: bold;
            font-family: $fuente;
        }

        a.btn_productos {
            @include btn-pri;
        }

        a.ir_productos {
            justify-content: center;
            color: $color_primario;
            text-decoration: none;
        }
    }

    section.body {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem; 

        .card_conteiner {
            width: 150px;

            .card_img {
                width: 100%;
                margin-bottom: .5rem;
            }
        
            .card_title{
                @include card;
                font-weight: 300;
                font-style: italic;
            }
        
            .card_precio {
                @include card;
                font-weight: bold;
            }

            .card_ver {
                justify-content: center;
                color: $color_primario;
                text-decoration: none;
            }
        
            .card_id {
                @include card;

                &:before {
                    content: '#';
                }
            }
        }
    }
    
}
