footer {
    width: 100%;
    margin: 3rem 0 0 0;
    background: $color_secundario;

    .footer_conteiner {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: 3rem 0;

        .footer_links__conteiner {
            display: flex;
            width: 60%;
            justify-content: space-around;

            a.logo {
                cursor: pointer;
                height: 50px;
            }
    
            .links {
                display: flex;
                flex-direction: column;
                gap: 2rem 0;
    
                .link_info {
                    text-decoration: none;
                    color: #464646;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer_desarrollador {
        font-size: .8rem;
        background: #F5F5F5;
        text-align: center;
        justify-content: center;
        padding: 2rem 0;

        .fa-heart {
            color: #FF0000;
        }

        .desarrollador {
            text-decoration: none;
            color: $color_primario;
        }
    }
}


@media (max-width: 1024px) {
    footer {
        .footer_conteiner{
            .footer_links__conteiner {
                display: block;

                a.logo {
                    img {
                        margin-bottom: 1rem;
                    }
                }
        
                .links {
                    width: 100%;
                    gap: 1.5rem 0;
                }
            }
        }
        
    }
}

@media (max-width: 500px) {
    footer {
        & div.footer_conteiner{
            width: 100%;
            flex-direction: column;
            padding: 1rem 0;
            align-items: center;

            & div.footer_links__conteiner {
                width: 100%;
                display: block;
                text-align: center;

                & a.logo {
                    & img {
                        margin-bottom: 1rem;
                    }
                }
        
                & div.links {
                    width: 100%;
                    gap: 1.5rem 0;
                }
            }

            & div.user_conteiner.contacto {
                border-top: 1px solid $color_primario;
                width: 100%;
                text-align: center;

                form.user_form.contacto {
                    width: 80%;
                    margin: 0 auto;
                    gap: 0;

                    h2.form_title.contacto {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}