.login_conteiner {
    @include conteiner;
    margin: 3rem auto;

    form {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form_title{
            @include title;
        }

        .input_conteiner {
            @include input_conteiner;
        }

        p.pregunta_sesion {
            font-size: .8rem;
            color: #999999;
            margin-top: 1.5rem;
            
            & a{
                text-decoration: none;
                color: $color_primario;
            }
        }

        #form_registro_btn {
            @include btn-pri;
            width: 70%;
            margin: 0 auto 2rem auto;                
        }
    }
}