.nuevo_conteiner {
    @include conteiner;
    text-align: center;

    .title {
        @include title;
        margin-bottom: 0;
    }

    p.descripcion {
        font-family: $fuente;
        margin-bottom: 1rem;
    }

    form{
        text-align: center;
    
        .input_conteiner {
            @include input_conteiner;
            margin-bottom: 1.5rem;
        }
    
        #txt_producto {
            @include textarea;
        }
    
        #form_registro_btn {
            @include btn-pri;
            width: 60%;
        }
    }
}

@media (max-width: 425px) {
    .nuevo_conteiner {
        width: 90%;
    
        form{
            #form_registro_btn {
                width: 100%;
            }
        }
    }
}