main {
    width: 100%;

    .registro_conteiner {
        @include conteiner;
    
        .title {
            @include title;
        }

        form {
            @include conteiner_colum;
            @include conteiner;
            min-width: 350px;

            .input_conteiner {
               @include input_conteiner;
            }

            .date_conteiner {
                margin-top: 1.5rem;
                height: 25px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                border-bottom: 2px solid #CCCCCC;
                position: relative;
                font-size: 1.2rem;
    
                #date_registro {
                    background: transparent;
                    border: none;
                    width: 80px;
                    color: #999999;
                    margin: 0 auto .2rem auto;
                    outline: none;
                    transition: .3s;
                    position: absolute;
                    top: 0;
                    right: 0;

                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }

                    &::-webkit-date-and-time-value {
                        margin: 0;
                    }

                    &:focus + label[for=date_registro] {
                        opacity: 0;
                    }

                    &:valid + label[for=date_registro] {
                        color: $color_primario;
                    }

                    &:focus{
                        right: 50%;
                    }
                }

                label[for=date_registro] {
                    width: 50%;
                    color: $color_letra;
                    margin-bottom: .2rem;
                    transition: .3s;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            p.pregunta_sesion {
                font-size: .8rem;
                color: #999999;
                margin-top: 1rem;
                
                & a{
                    text-decoration: none;
                    color: $color_primario;
                }
            }

            #form_registro_btn {
                @include btn-pri;
                margin-bottom: 2rem;                
            }
        }
    }
}